<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript"
        src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=32urA0kPF4RpxHxxtz0a6C__8Zmb9wv-rskMQu7B5AHya-ubDmCjPYJum0U5e3nasyPdjufwFyPhsXoYEg8OccDegd6LE7GkD4TO2aZmkttJy1Dbo8lOEcHZMFI3jOQxPOVEHIv1NTJzX_C_dc4BNdOrLCKZ9s6xdGSliRQexfWwYVe-ykdIM-5cQnA3rJ4PZVxFsO9XfVfIf27JJ25OD7ulLJTHG5v52L8nTZUM1tAqORqB55elVW0zq2fLHj-Q2UdyC0U1ORfETdv2b-bMtqv0kdSZoklGGV5uXKfpOTgw-j0R3S4L2i4Rp6ToOgoov91Nu3jCr3WK_CnbtfLRjhyPgoTythhCj0kij6npCfO79FRhBFUA6HQB7PGMbTEt1JYgwCL0N9ocDZdUvtwfDMmCDWHMP4beeMDBrcT1RpFYnM0rQWWIPhDX-5Y4YAfk0A-7ScSztwDaAxoeDbAAzK3pDRnQLmnoBKzwEDm_R2IqsQEk79qW-WlHXcmFZki7da6cTm1Z_i9MvpdMbqldDck_8ZVZ7GKL1b5wRSM5oJlkyM5uoV9e-ectem7rnbjAEXyJ2YUbScnS26JUXvsHthxO_SYgOcdx_FCI_jN2M5CnZMKRruFdsXeWdvf7bgConv5GFRs1ldFtbpZlVAr_LDd_4ZjbxxwlvLlZHmdEzdNrSMNtzDTX7Skr4oTg9_RK7GJgVdAX7FlXatgB0B4WvOnMqv7fP6L969HLLXXVt86ZVdF98b02ivoqU0O9pz8gBinIVDLA0mEHw4m-vtzfzgR_Rpw3W4P62qz9xetPcgmRasOovdX0p2cd-Ri27gOyiaGAK1DOkxD_Ptf-GWGixNVpK4suyf7edHGeS60Nw2lwmzxbi1KMOA4FXpQPNIomOk0wCp8oyQwMEF5qo0NJTBLr4FiA-6fVxzjIfBZPPigGodk_6AarPfhvT1B7_Emvgmjn8qGgGCpHW2dHdxX8Gg0aaa0gPakOhSaPs_7YEBWfRbvSbBh-RckxOfWXDGNbrcK0YwLZ5iVtI9I1HRHW_c7yN52rJrnuGADMP6Ecql04c3Gzpd9eaRXgOOFgVbhocgkO6jORKODtRzpMRcZ5BGQMD9baXDfyuxH19fnKUggW0WYW2Jbt9HtRp2ArAwvakx0F0pL7XtSN2mRVX5kD_xprcQbrmB7cbDwOcChK1nbvoET3strscYrqksIdi5th_e3eb5PU-VrXZJ6PTIlJGSXytRuzOXKf6dm04JP0TWYpdX_eS7DBGGEndv8N3R3VAgJ6HWv9fM76dbqyXYaJNJ3wahdMiNg3l2KUxyJ2yMywPnztmPyGQeQoKqLzxuC9zm_qogTnm3jgPMy8M-wo1OD24kBQam0Em_liUMoVKGGgSWJRNXiXGsqiJB93WGsqIbze1yk3Vch_Fmjco7DkXoocn3C6lpS8joCXaJCnGvj-Ek3vbGVOv3Fivj3STXDdYCzm0nr7mttm88O1w_jxk9yC9Eytpv7kNQgAh-t8a-OYSrR9LrzvK-L6DvZm-uh-E_gWfo-zMXLQGz8-c-pXa9-Lf3qEzFVE4TWfrSYh-eDH-8hJLTt98nIbnKb7HrTLrdM3hUKr0gvxSQrLrrgo459sGwWJGPTRTPtJHxneet5FEWvqZdgVpMY_WgPlt0jk"
        charset="UTF-8"></script>
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kb2MtMDAtMW8tZG9jcy5nb29nbGV1c2VyY29udGVudC5jb20vZG9jcy9zZWN1cmVzYy9xaDJjZHM3YW01a3Vxc2wyMDNiMWZsNTkwNWdpMGtjaS9wMWRrcjJicDR1MGU4c2gwNXJ1N3V0OW5tY2dvaXY3Zy8xNjgyODM2NzI1MDAwLzA4MjUyNjQ0MzUxODA3MjEwNjM5LzEwMjEyODgzMzEwNjUxNjYzNzU1LzFEMks0MUk3TDRzY3hEZkV0NDJLVE5YM0xTc0hrMEpEbD9lPWRvd25sb2FkJmF4PUFEV0NQS0FxX29hbEhOM056bkVFTmxpSVQxUnVxTC0xZGwyckFhcE1lZkljSjFDMDB4M3NLS2dnc01EYTBhZjdhbEl0YTRKRTB1dklSTHQ1eDJqV0dsZS1wc2ppSW1rLW12eXVMWGtKLTJrbEtkZ21wWl9aT2ZQMzRGQW5sdGRrMlA5MmUzaUVDSTJ2S1FfNGFLZjdlY25KSEhxQlBjMFZuTXprTzBxQ0F2RnE4UmVWTmd0MjZYT3VSRDBGMXlNWVR2X29Lelg2TlV2MVRQN3BLQW0yRlN4R3NjY2haQ05IQ0JLNFg1NFhDemhrQlZIQnBIUkFKODgydkJSbGk3V1JBbkJzLVdfRS1DV21TN2VUamw4a180YlplajVKNWVsLWFtVXdRNmx2SXRoSl9SeFhSQk05OFhEQVl0V1hWYXhDaGdaUXpUX0RZdkxBcVE5MHFMYkczWjJrNFZVMUpGSEVDQU9Rb1pvdGhrTEIxTjNaMHhZREZ1NUNncFVEWGJFRTk0Z09WSU15dHo3bTVqWTluakZ4azR5M0NyRXZFcnVhQ3ZwWEpQQ0VBT1pTaUpfMWJ2cGFKX2RUb1hNdDc0ZkQxRmtiR3B4RXJYaV9KNm5CbEZVUlF4alJxZ0NiaXdXWTRPWTVXYk9BVHdVME5ZM0VHaGxyUjBzWllWMkxUX2ZvRktXMWlFcVBpRUl6SF9rbE1OWnFBQjdDMnExSXVxdVBlWmJUUGVfaVo4em90TjRybFZydG9kbjRCYm15VnpUQWtlWmREQzVMY3VNa1F2Tl9KZjdMZjB6Q3R0Y0lhM25hU1Y2ZGN2em5WVTU5aUsyNmVBb1Y5ZHRFNlozNi1rMlgxMDctZktBRGdST2VuM25wUjhSVmlCcVlBRlZoVlZHaDBaRFZtUnFRUDJVV0tOVEJxR0k4cXh6cmhOY2xfR3ducHRoX2VYd18xUmxNNEZGQ1BHNHhtOGFZUzBOdHVEcjhHdmtKMEQtV0dsbHA2dUNzREV1Mmt2b2xUcjcyWnNSU1FJNFAwZlExLUZVdzdGUFlBVnY2OF92NzVSekhfZkhlRGpzNGgwMHpSdFVuaFV6Yk0zd3ZrdmFBS2pkNVRXcmdWNmYzeHdHRTZHUDFnODlWd2RYT3hHRW9MVzRfcXgwcHdFc3NBMXdPQ0ZiWnRzT2ZwcnpINldOdUlRckhzc3Fidl9nZEdfYlNYckU5dGFvTVRsbHp3RVN5dVVZVEJzSWtRWFdhLVcyM1RJOCZ1dWlkPWEzZTY4MmFmLWY5NTgtNDU3Zi1hNDA3LTliNGI1ODEyZjBlMSZhdXRodXNlcj0w" />
    <script src="https://kit.fontawesome.com/363d7c3542.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <%-include("./partials/head.ejs")%>
        <link rel="stylesheet" href="CSS/donate.css">
        <link rel="stylesheet" href="CSS/card.css">
    <style>
        .card{
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    </style>
</head>
<body>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <%-include("./partials/nav.ejs")%>
    <div class="card">
        <div class="card-body">
                <div id="changeSuccess">
                    <p><i id="checkIcon" class="bi bi-check fa-10x"></i></p>
                    <h2>Your changes have been saved!</h2>
                    
                </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs")%>
</body>
</html>