<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=jwyG0TrR2oxXjtwOCGj1bKVnXMmjJ9oQbohaSkdeU8v6jncNeMt7NVZi93slxeoR7L2Jb-ohB00BdBIu7tLCtBmMbhILmS55qqTEGTbmQU7hpLbvBfM49uZT0Hcy8Cf9tzQryscaEQClWvWHBE0KyZ2bG5XLEqo8ialTfYE7AtXEqCh2rT8W9jfswvlEGcAulPUB1HwDr0J63OLVMYWzz8AvFbDLt7wwSL2r5ZySW6eBG3VRVEnQBak-QFogM9jRwWVh2gpXms9c5Z-SQB3OR875EfKo94Fu8pDyzJzD2ZnoSClJ96HCt-6k-ErVIHLKxcwDGKywhreHPRS6bRijxJPDKQTZRGeRo6Seek7f32RiDL9oqLWYTIx7ykmInv3x5ATr5kyrWg5-qYQ1N6O9mDiugLKbdFcl2gSbKfGTxJpPjjl0ErxVRZztLpmVAoLQqfdvfmqKzVfUBJkaj0lTXQPSZn8QBNEZgbqBCKadKJcH4fvHlcUTeUWHQjXrtT9qYmaenQKwEmKbWKdH1dKyvJMpELQlkNZngadqN6koiqmUIxqBimo1Utbf0JnRNwsVJKKWt9VacSa_unPPAtKIseHCREtS9GvyWhOOhTB2DR4OawDyH6VvkFWROOFiH8vfjCavhQBghgSQg79QPtfKHt9qrA2CIsuG1-IHS_6z0ObpBjK59HBSdyyNpQid0y9dyFEZTdttnjNCjYlX7G0L5Iv1-_3isn1LNN2yhr03BRv49cR5xtvyg4Sl8tUPyNLlAghOxY5xmqmRJkHBlDPIaU5oHKXwfIXY76m4HQ1az1TTlu7r0Cus-CdHeol0Re3O_i-ZLMfKQDLI1mcbrBF0eayqWCY3OGEnAO1d0nm0j_JrGvlNMZAA8w23xlyapCfbr9iXNtF1TPwym6hkPal4t4TLgIal4pcOcCMlh5Spj_jybvmzlO7ZVF2G_FYpYR6lu7_Dtoni3F3aE0n5SmRUSwZeTYBUxKjSLjbNuYtR80Tf0ew22p60Zxst0ztS-5FAZldo0noNiQJ-D6JJi2OK36bNjex2DKlyxKF93oZM0Nfc_nQxNFCgMVW8Um19MZBPigkSdkxqsQ58Z-iQUiNkwAEL_ai6xXovDs-vegkgPaf0b6XgpCJiXbVH6WRvLfkfDduPBs9YNiVlpaFJ3P8g76SGTtksI_q5kLd9g8aKQzGO7YcjZ9-VSMI_565I2DZPWfE1wGi925koRdHSdSfzysGSi7oix2aQkmTNPurYWcJ0ugjTP8K_LusYO1xuq6nTqpc2TCA58X1vP6DLhmkgu-1qI1KU4gGZi8oSMTX-49r-nb5CNcyAUm5ze4-isKTwxDRsHfADaohAFFVFoYq9_D3CLqHeZIqbTeX0CxLdT36e0l7rQ1vdV-8qLp-_0PrCicia2eBlkIRcBkeT_BpVP_75atbl0Q7pYVvEwi7wQ_OgrJDq-YNYnLn_prudfaGJAfAemg6H_3HGhZI9IfOdiVV59kyUL01ObMlpcbXPykz_HZCMkx-8And8HIu7zTwRNgY6MhHq-B2FW4v2ZIWOuieO68YXaHH7jpdphxT_yFYOAaxYjPL5a_fYiXnaRqJe-KLWgqophUQGT4pxB7OVFKCL4UoTe4wWUCFdf1rg1Y6DZgDKF_woQw4H5GBmrobhUxpenJuDYQkqejjg8NjkJSobeYmy0x0xQa2LsdnVnfI" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kb2MtMGctYmstZG9jcy5nb29nbGV1c2VyY29udGVudC5jb20vZG9jcy9zZWN1cmVzYy9xaDJjZHM3YW01a3Vxc2wyMDNiMWZsNTkwNWdpMGtjaS9sc3U1ZGtsZWRybWEzOGQ2dHR2dDU4M3NjNjJ0ajQ3aC8xNjgzNTY5NDAwMDAwLzEyMTIzMTMwNjU5NzEwNzgwNjYxLzEwMjEyODgzMzEwNjUxNjYzNzU1LzFpZkt6QS1PcUFGc0E1MGxnUy1JWWNIS21GcVVpRng2ND9lPWRvd25sb2FkJmF4PUFEV0NQS0Mzcnd4bThSTTFoaThYNVdQcFBCLUxQZHh1V2Z5cnd1WEJsTG01SmlpZW42MDVuYUpBcVVKTk5EN1NSTlZWLVc4VzFCa0gwd3NUbXVneWd6WXhkMkx3TlhXRDFyeWVpaC1tSm94Vjd1dGJZT1BhdXQzVmNwRlhqeExjaTVJRWVWZ0FuV01EdExXT18wcHpMdS1RQ1Y0ZlczT2NLNUYzTjZOb0Yzek9razE5ei13cURXUjlsTFRmNDEzeG41cWJtRmlFWDQ2MTBDUUk4MjhmYXdYalRHUjlLb1Z3Ung2dGpZTTVIZGc3YUowX3laWk1sSHNGQ0JYU0lKYjhqckFFalR0clgxemhyNHQ3Z2hWRGVfdHhMSWRMZlM2c3B1dVpsTWgxYnpXaEdqYno0Q0FvMUZUNDZNMXF0RUprd3VYUUZpcXpMbVIxc0NaMmU4eDFtam9kd1l6TVFuS2M4RFN0ZVlMNUk3dC1CM3h0eUlkQ2hVRDZ4cjNhRU1fdFF0bEw0S0FQcHJ6NHV5MDc1eWl6V0doeE9PY2xCalJGNVBkMVNmTFh2T1Rjd0VlRzVWTnBBWThSMm5IQnE0S3JTOG5hODhqOFhpMU1KWEFXRUg4MlhzN2g3WXVSVzdEMlNwUUs1QTFZTGZvZWNBYUJydC1TaGYtYnVFY2tMMTVLakg1RDM4QWpTaThhMl9HdjByUmdncTRlQkpfQjBYY0hsVmowenhBTVgwd1d5U1RKV2RPV19uOHhnaWNTOWJlRTBXd3BjeVNPczNsd29qQTVOSlZVeG5iRTY1azN6UWZyWHNCMjA0UnRlUzZnU0dqS0NiUWpzU0JiN0Q2OWw3OXY3dTVxM1hxcld1SkpQN1IzRkpVRnhBRFk1a3NlN3AxSm9fU2F4N1ZDcVVJZ0tkcDBHSm9GUFJKLXlHMTZTb2pINTI0a19JYS1SWVAzdlNxMnNscUtsbUYyVlVSVmgybUZwVnpzd3lDOHV3YlBxaXp3LTZqcDd3c0RZMTZ0OUFwbmpYakJXa1NTWm5xNUFHRFhMeGlwOE04TnJEdTBzX1JvMlRJMmVUaWFLUXZoZ1JPX3hqZ3BNZjNudExGNlU0dUhoTXN1czgxYnJ3eDg1RUhRT2I0UzRiSWd4THpmTERTbUhSbkU0VWd2T1VyWjNYWk5sRXU0UHY2cnZlOWZUUzItQzZhUVV6bXhqZ2dpT0hyOGt3TjhUTkdYNEFmRVdzVG5HMWhLOE85dGJuNVBPNk9JeEJqUFYzVFZXNGF4aUhNbW5PQWoybTFSOHVoQk13JnV1aWQ9YzhjNTg1MjctYTA1NS00YjdkLTg2NjktZDY3Nzg2YmUyYjkyJmF1dGh1c2VyPTA"/><%-include("./partials/head.ejs")%>
    <%-include("./partials/head.ejs")%>
        <link rel="stylesheet" href="CSS/card.css">
    <style>
       #submitbtn{
        font-family: 'Lato', sans-serif;
        color: white;
        background-color: #79915C;
        border-radius: 5px;
        border: none;
        padding: 10px;
    } 
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <%-include("./partials/nav.ejs")%>
    <br><br><br>
        <div id="review" class="card">
            <h1 class="card-title">Review</h1>
            <div class="card-body">
                <form class="rating" method="POST" action="/review">
                        <label for="charitylist" class="form-label"></label>
                        <select id="charitylist" name="selectedCharity" class="form-select" required>
                            <option selected disabled>Choose your charity</option>
                            <option value="etaam">Etaam</option>
                            <option value="albir">Albir</option>
                            <option value="nemah">Nemah</option>
                            <option value="ekram">Ekram</option>
                        </select>
                    <div class="mb-3 mt-3">
                        <textarea rows="4" class="form-control" id="message" placeholder="Your review" name="message" required></textarea>
                    </div>
                    <button id="submitbtn" type="submit" class="btn">Submit</button>
                </form>
            </div>

        </div>
        <%- include("./partials/footer.ejs")%>
        
</body>

</html>