<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=bJLHPZO3mIyzf2Jh1QsI-MNQPeOhIocOofwSJwfVg8BJHZ8Uk5s-mvvzoq2ZxLEzk50HOIKstPs_DQX9v0nBBjGOcCrGgydPmgaZXjDtKm7fSqncqcjzYfPP51cbSrbs5D4KXjiuBjMlXHKh3ODVfOvmmKPzTqQ39LS603u4wLg_c0Lvr3wOFO38ZdS-eaZQdcg8z69eTqe9HYXdza4peWCvf7kO6HeE9e5jkjslC-V2JBsNO08sDaOus_L3jlcE-_1CLIuUheO7NfvgXaLNLPOxD-2HdXA1Ibipd-A2jpVb-hesc3hTl-VDOVojsic4CPVyUwKFRYo7kCVDLQckbmv_b4_2NN496C8NxrpSE0jS_9SXYpsvibOx4zIFGQMfUQw6pnAPdVBsKnmMPQtujidzVMFHYN4pYfUokPkRAOCqNNDFPPniAf6qL2XqQvNnDohmTu2_77S0mpOyWgl7equ9xYWiGCZKfsFe1O9dldXUNguT81-fj7pLlXiCI_qiXdHaIqjQ_csfCf_W6tAVCee0gP3AQoAx8Ns4JgDz8_Ku_KCj7IIupXuDrpXspBRJMiDL6XFXTv8SseHM3ckmreRlq1XLQnViwveBjMSdRLWT0ZaTNm18uDWcqaRKkiS6cOHx4infxBkDcc7O7CzZEqLUk8MWsWZ7DUEf82KwvT-aqsRz6L6PREKac59olA-azI3Yu49ZAMBmRkFMPQowycSvQNqw32p9RKCxZUKTFp5AkckIIYuwi_DlyTNcJL5iNqjWWcA14O1IIIumJFs-9lSbN3B_MQ4j5yP26rMoydsoqj8a4RtLCLITNl4aXqY-VQiGHGirbI0-xEh4h16lQGj4I0687e7gqrvFDXAx2bK07AJzHOR571p-8l0kzbhfUu_aIcwiUITQsMlSCOoAHcEsKPju7wbO_NIrchRhP1eCRcIFU60tS_GoJe0HteAlbk_hgngTiXUT--l13stXhPq9KRccWjskXDkjO_lk97ftFzEKoBEKVGXwXKQFFBTzxa_m8HEp-edJojnqJFgLQFBz2UF6sH25ZGfhiRKAm9jy8jzkFJT6Kl0WVsWeANHpwOj1-Ixu19uR9JFBir-3stYmL0UHx2dlru40-OSCnGrZtGKmCLkoe1luKbCfHspYp3bq05ufVpoVqgG90yFUfEI-WB9MLMKssgvoGy5ZLDMcgWn5Zclfs1MKi3jHD5pkdBFyE0Go5dBWzAiD0ypXDanjOeS7juqESp512l032ZZRHaGMEK_ymt55XrmDkhH-hGJpUoRigQAm1TVnTPknBS_UVBmAG7oVx_826jVh0Lti6uqOtVRYrjEeAW_EnTCqYAi-hfn1LIIzsjH-56Pb4GBogg1l1lDuF2oNSAcDJV9-a_cjW0iec-nhIkY3rQXHClANZlVCoSlqXpDzfj3TjshxYKVHTLdvpfsoiHth4cuVpC0D9Vfku9Wr1irvvr3i7Sa2NA3dN0ttqnBRIlQhes1rUUnDNHX3tVOJoG7IIYYtbkGwUnmPXZrIUkagrr8kV4VNuLTdrJhc4RLtMx1CKFOL8EMVBpQIu6Gy9Ni7BGnGPuGn50V5p-ydj5NrXegg29FAg1SUVih48Gu8O6tOypgE85-IdrIjFcBKANiFST9t2OxakkFYexJ4VgmUHCQN9nRLVT4o9ad8VvZjN74qlfkTRo4CbfOAE3odHCyoUdg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9kb2MtMTQtYmstZG9jcy5nb29nbGV1c2VyY29udGVudC5jb20vZG9jcy9zZWN1cmVzYy9xaDJjZHM3YW01a3Vxc2wyMDNiMWZsNTkwNWdpMGtjaS9qMmpqZDc1cThtZWtzbTFkYXRycmJkaTY5NTkwZGxsNi8xNjgzNTUyODI1MDAwLzEyMTIzMTMwNjU5NzEwNzgwNjYxLzEwMjEyODgzMzEwNjUxNjYzNzU1LzE2MUQ2cVM4TzY4dVh0NkZsMWFEV0NPWDZDNGJaSWlzSD9lPWRvd25sb2FkJmF4PUFEV0NQS0J5U3ZUSS0xb0VGbjZuUFhfQjdtY0FiNTZkazdjYjVxcEctTm9Yck9tMmVuZzVESlNqMFhEd1hCMFR5Q3ZuSGItVGppZm5RNm9DSjIzamVxanlqMWV3Wkt2V2IzQ3VNRTgzUm1HQ0VxVGlzQTlLRUpVQWlDemJyRGNDUmEyaEQycTRyenhZZjB2TjJjYXNCQllFaWExMUpvZlJYYUNKUEtYYUowTkpaeHRGMnNNSEx1MjRaeVBBeEg2MTRnYm1Kd3pEQklyZjZJN29VNmtQUUdoQ2Y1OUpKbG1aSkE5em42SVMyYnl4dzhXOGp4Z1FPaDk5bFZwaGxEd3NTR3ZRRG9VLWdjanI4UFhlUldiOHQ4THhCOFVKVnlyLUpQQ1JuWHV0TGNPWDBXWGFUblQzYlg3d0lZQmxTXzZNMDFkUkNpY1pXaUEwMTAtUHhOZ19aVm5yUWgwZXlaaVFBQmdBUFF4VVVfZVhiYTFvNE9jLUpvX1R4WmhOQVVkeTVMQ1VFNHVqblhVclBKSjRRdXhLRVVJeHdrYW1UT2l2VVRrSTRjSzVCcklQbEVNXzBBRWNaNmMyYUlGX1F2S3BJbkJxMVVOQzkyNDI4dkpEN3A4Q1Z6ZUo0Z2JvdlR2R1g3VmJ6Rm9MMEQxYjJJc1BEd1hpNlpSWGJrbS1sWUNKazFOVG5PMVkwQU1pTXlORFdnZ3NFVWREMlU2RWpGUi1SZmdPMzJtcVhReGc3NnBTM3VRZWpwVGNjRUJlQllpUWRpdktqd0lrQ0VGMFNTXzZaaXZFWVZzWUhobHk1WDhOSzZUZld0MzF2QWJNMV9PZDlvaFZxdHgyN3U2UnVjbXFXZ1RMN09FekFfYWJmVUl4Z2xpNWtZVDFTWGZIeDNEaHJ4UDlrQWItbWxjVXAyd0pDcnRyVV9aLTZrNXFBa1hENFBNR0x4TW5PR3l1VXl2Z0c1ZXJIQU9WMVFyTnphLVBIUldfb1JZTEw2cUpzd3J2NEZHVDlDQ01wT3l5Mi1BR1V6YlE1LWc1RUI1aWVyUDZ5SzFpZGFQVERDV0hSdlFfck9pY1lWU2pJTHFZY2dSS203UnhGVGlWRFlkeE9INkVtUTN5TGlGTjNyLTRBcjBxR01mb0FjcXpKb0U1X2tLeEF0UWNPXzBKSERDZUg1Q0pPOTMydVdVeENOOEtraGN0bnlNRkRfbDlKdnczQUZvZ25TdGxwVkhvaEl2Ql9mcFdpOVNxalNpcUNCN3dzSjhicWc5MGJ2bHU4QlhYeDFoXzctNWNocm9FWVBQNWtRJnV1aWQ9YmJmODI5N2YtOWZkOC00ODFmLTg5ZDctODYwZjc4YTgyNWEzJmF1dGh1c2VyPTA"/><%-include("./partials/head.ejs")%>
    <link rel="stylesheet" href="CSS/card.css">
    <style>
      a{
        color: #79915C
      }
    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-md" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="logo" style="height:75px; width: 150px;">
      </a>
    </div>
  </nav>
    <div id="signup" class="card">
        <form action="/signup/register" method="post">
          <div class="container">
            <h1 class="card-title">Sign Up</h1>
            <p>Please fill this form to create an account.</p>
            <hr style="width: 60%; margin-left: 1rem;">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" id="email" name="email" required>
            <span id="emailError" class="text-danger"></span><br>
      
            <label for="name">Name</label>
            <input type="text" placeholder="Enter Name" id="name" name="name" required>
      
            <label for="address">Address</label>
            <input type="text" placeholder="Enter Address" id="address" name="address" required>
      
            <label for="phone">Phone Number</label>
            <input type="text" placeholder="Enter Phone Number" id="phone" name="phoneNumber" pattern="[0-9]{10}" required>
      
            <label for="pswd">Password</label>
            <input type="password" placeholder="Enter Password" id="pswd" name="password" required>

            <label for="pswdrepeat">Password</label>
            <input type="password" placeholder="Re-enter Password" id="pswdrepeat" name="passwordRepeat" required>
            <span id="pswdError" class="text-danger"></span><br>

            <p>Already have an account? <a href="/login">Login</a></p>
            <div class="clearfix">
              <button type="submit" class="signup sign-up-btn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
      <script>
        
  const signupForm = document.querySelector("#signup");
  signupForm.addEventListener("submit", validateSignup);

  //validation function
  function validateSignup(event) {
    let email = document.querySelector('#email');
    let emailError = document.querySelector('#emailError');
    let password = document.getElementById("pswd");
    let passwordRepeat = document.getElementById("pswdrepeat");
    let passwordError = document.getElementById("pswdError");

    const emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    // Clear red border and error message when user attempts again
    email.addEventListener('input', () => {
      email.style.border = '';
      emailError.textContent = '';
    });
    if (!emailPattern.test(email.value)) {
      emailError.innerHTML = 'Please enter a valid email address.';
      email.style.border = "2px solid red";
      event.preventDefault();
      return false;
    } else if (password !== passwordRepeat){
      passwordError.innerHTML = 'Passwords do not match.';
      password.style.border = "2px solid red";
      passwordRepeat.style.border = "2px solid red";
      event.preventDefault();
      return false;
    } else {
      return true;
    }
    //removing red border when selected again
    password.addEventListener('input', () => {
      password.style.border = '';
      passwordError.textContent = '';
    });

    passwordRepeat.addEventListener('input', () => {
      passwordRepeat.style.border = '';
      passwordError.textContent = '';
    });

  };

      </script>
    <%- include("./partials/footer.ejs")%>
</body>
</html>